@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Langar", cursive;
  background-color: azure;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  margin: 30px 60px;
}

.counter {
  margin-top: 10px;
}

.fa-3x:hover {
  color: yellowgreen;
  transform: scale(0.9);
}

.fa-facebook {
  color: blue;
}
.fa-youtube {
  color: darkred;
}

.fa-twitter {
  color: #00acee;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  body {
    flex-direction: column-reverse;
  }
}
